.filters,
.button-column,
.noprint{ display: none; }
a[href]:after {
    content: "" attr(title) "";
}
table,
body {
  font-size: 13px;
  background: #fff;
  background-image: none;
}
img{ paDDING:0; MARGIN:0; }
thead{display:table-header-group; margin-bottom:2px;}

a {
text-decoration: none;
}
table {
border-collapse: collapse;
border:1px solid #ccc !important;
font-size: 13px;
}
thead {
vertical-align: bottom;
text-align: center;
}
tfoot {
text-align: center;
}
th {
text-align: left;
padding-left: 0.35em;
padding-right: 0.35em;
padding-top: 0.35em;
padding-bottom: 15px;
vertical-align: top;
border-bottom: 1px solid #CCCCCC;
}
td {
padding-left: 0.35em;
padding-right: 0.35em;
padding-top: 0.35em;
padding-bottom: 0.35em;
vertical-align: top;
border-bottom:1px solid #ccc !important;
}
img {
margin:0;
padding:0;
vertical-align: middle;
}
table { page-break-inside:auto }
tr    { page-break-inside:avoid; page-break-after:auto }
td    { page-break-inside:avoid; page-break-after:auto }
input{ border: none; }

table.noborderlrt,
table.noborderlrt td,
table.noborderlrt tr {
    border:none !important; 
}
table.noborderlrt tr{ border-bottom: 1px solid #ccc !important; }
table.noborderlrt tr:last-child{ border-bottom: none !important; }
table.noborderlrt h1, table.noborderlrt p{
    margin-bottom:2px;
    line-height: 17px;
    font-size: 11px;
}
table.noborderlrt h1 {
    font-size: 15px;
}

table.noborder td { border: none; }
@page {
	counter-increment: page; margin-top: 50px; margin-left: 20px; margin-bottom: 50px; margin-right: 20px; size: portrait; 
	@top-right { padding-right:20px; content: "Page " counter(page); }
}
