body{
    background: #fff;
    padding: 0;
    margin: 0;
    font-size: 13px;
    color:#333;
    overflow: hidden;
}
h1, h2, h3, p {
    margin: 5px 0px;
}
.topbar,
.filterhead{
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 10px 7%;
    background: rgba(247, 247, 247, 0.8);
    z-index: 1000;
}

.disease_filter ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.disease_filter ul li {
    display: inline-block;
    vertical-align: middle;
    padding: 0px 19px;
    font-weight: bold;
}
.topbar {
    text-align: center;
    padding: 4px;
    border-bottom: 1px solid #dfdfdf;
}
.topbar h4 {
    color: #000;
}
.topbar p {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}
.filterhead.toggled {
    left: -218px;
}
#stat_overview.toggled {
    right: -338px;
}
.topbar .action_button {
    text-align: right;
    padding-right: 10px;
    margin-top: -30px;
    padding-bottom: 5px;
}
.topbar .action_button button {
    margin-right: 10px;
}
.filterhead,
#stat_overview {
    padding: 10px;
    position: absolute;
    z-index: 1000;
    width: 380px;
    right: 0px;
    top: 62px;
    overflow-x: hidden;
    overflow-y: auto;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.filterhead{
    width: 245px;
    right: auto;
    top: 72px;
    left: 10px;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
#stat_overview .card-body {
    padding: 10px;
}
#stat_overview .card-header{
    padding: 0px;
}
#stat_overview h1,
#stat_overview h2 {
    font-size: 17px;
    margin-bottom: 10px;
    border-bottom: 1px dotted;
    padding-bottom: 5px;
}
#stat_overview ul {
    padding: 0;
    margin: 0;
}
#stat_overview ul li {
    display: inline-block;
    margin-right: 20px;
}
#stat_overview ul.disease_s li,
#stat_overview ul.age_s li {
    display: block;
}
#stat_overview ul.regional li{
    width: 40%;
    list-style-type: circle;
    display: inline;
}
#stat_overview ul.regional li.dist{
    border-bottom: 1px dotted;
}
#stat_overview ul li label{
    font-weight: bold;
    margin-right: 10px;
}
#stat_overview ul.disease_filter li {
    display: block;
}
#stat_overview ul.disease_filter li img{
    margin-right: 3px;
    width: 15px;
}
#stat_overview ul.disease_filter li input{
    vertical-align: middle;
}
.table {
    width: 50%;
    /* margin-bottom: 1rem; */
    background-color: transparent;
    line-height: 1;
}
#stat_overview ul.regional ul.tehsil {
    list-style-type: disc;
}
.modal-dialog {
    max-width: 661px;
    margin: 1.75rem auto;
}
.card-body,
.card-body li,
.age_s li{
    font-size: 15px;
    font-weight: bold;
    list-style: none;
}
.filterhead .alert{
    font-size: 16px;
}
.filterhead .alert b{
    font-size: 18px;
}